body {
  font-family: "Source Code Pro", monospace;
  background: url(./bg-pattern.png);
  background-attachment: fixed;
  color: white;
  padding: 20px 0;
}

h1, a {
  color: #F9DB31;
  font-weight: 400;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home p {
  max-width: 300px;
}

.faq nav li {
  display: inline-block;
}
