body {
  font-family: "Source Code Pro", monospace;
  background: url(./bg-pattern.png);
  background-attachment: fixed;
  color: white;
  padding: 20px 0;
}

h1,
a {
  color: #faa619;
  font-weight: 400;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.logo {
  width: 15rem;
  margin-bottom: 10px;
}
